version: "3.9"
services:
  postgres:
    image: postgres:13.3
    environment:
      POSTGRES_DB: "server"
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "pgpwd4habr"
    ports:
      - "5432:5432"


  server:
    build:
      context: ./.
      dockerfile: ./Dockerfile
    command: python3 -m uvicorn cm.main:app --host 0.0.0.0 --reload
    depends_on:
            - postgres
    ports:
      - "8000:8000"
    restart: always
